<mat-toolbar color="primary">
    <a mat-button routerLink="/">PongiFly</a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div *ngIf="userName; else showLogin">
        <a routerLink="/user" mat-button color="accent">
            <mat-icon>perm_identity</mat-icon>
            {{userName | firstWord}}
        </a>
    </div>
    <ng-template #showLogin>
        <a mat-icon-button routerLink="/login">
          <mat-icon>account_circle</mat-icon>
        </a>
    </ng-template>

</mat-toolbar>

<div>
    <router-outlet></router-outlet>
</div>

