<mat-toolbar color="primary">
    <span>PongiFly</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div *ngIf="afAuth?.user | async as user; else showLogin">
        <span>{{user.displayName | firstWord}}</span>
    </div>
    <ng-template #showLogin>
        <a mat-icon-button routerLink="/login">
          <mat-icon>account_circle</mat-icon>
        </a>
    </ng-template>

</mat-toolbar>

<div>
    <router-outlet></router-outlet>
</div>

