
<div class="user-container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>child_friendly</mat-icon>
            {{userName}}
          </mat-card-title>
        </mat-card-header>

        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="User name" [(ngModel)]="userName" 
                (keyup)="userInputChaged(userName)"
                (blur)="userInputChaged(userName)"
                >
                </mat-form-field>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        </mat-card-actions>
      </mat-card>
 

    <mat-card>
        <mat-card-title>Next matches</mat-card-title>
        <mat-card-content>Content</mat-card-content>
    </mat-card>
  </div>
  